* {
  box-sizing: border-box;
}
:root {
  --primary: rgba(25, 25, 50, 50);
  --secondary: rgba(40, 50, 36, 23);
  --dark: rgba

}
header h1 {
  color: var(--tertiary);
  background-color: var(--secondary);
  padding: 5px 1% 5px 6%;
  margin: 0;
  font-size: 4vw;
  line-height: 1;
}