*{box-sizing: border-box;
}

/* Brand Color's */
:root {
  --primary: rgb(0, 0, 0);
  --secondary: rgb(0, 213, 255);
  --tertiary: rgb(45, 103, 189);
  --dark: rgb(0, 55, 138);
  --light: rgb(249, 251, 255);
}

/* Header */

header {
  background-image: url("../img//abstract-linii-tochki-blesk-spletnie-147056.jpeg");
  background-blend-mode: luminosity;
  padding: 20px 10% 20px 0;
  display: internal;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  background-color: var(--secondary)
  box-shadow: 0 5px 25px rgb(27, 68, 128);
} 

header h1 {
  color: var(--primary);
  padding: 10px 5% 10px 12%;
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
  font-size: larger;
  font-size: 3vw;
  line-height: 2;
  justify-content: center;
}

header nav {
  color: var(--primary)

}

body {
  margin: 1;
  padding: 1;
  font-family:'Courier New', Courier, monospace;
  color: white;
  background-image: url("..//img/YmR5yM.png");
  line-height: 1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: .5;
}

p {
  margin: .5;
}

nav {
  display: flex;
  flex-direction: column;
}

nav a {
  text-decoration: wavy;
  padding: 2px 7px;
  color: var(--secondary);
  margin-left: 10px;
  background-image: linear-gradient(270deg, var(--secondary) 0%, var(--secondary) 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: bottom;
}

nav a:hover {
  background-size: 100% 100%;
  color: var(--primary);
}

nav a:last-child {
  margin-right: 10;
}

main {
  margin-top: 10px;
  margin-bottom: 45px;
  background-image: url("../img/YmR5yM.png")
}


.subtitle {
  background: rgb(68, 88, 120);
  background-image: url("../img/me.jpg"), linear-gradient(180deg, var(--secondary) 0%, var(--primary) 100%);
  background-size: cover;
  background-position: center;
  background-blend-mode: luminosity;
  min-height: 30vh;
  color: var(--primary);
  padding: 1% 5%;
  margin: 10px 0;
}

.subtitle h2 {
  
  color: var(--primary);
  margin: 0;
  padding: 10px 10px;
  font-size: 1.3rem;
  line-height: 1.2;
  display: inline;
  font-family: Arial, Helvetica, sans-serif
  font-size: medium;
  margin: 10px 0;
}

.page-body {
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.page-about {
  margin: 10px 0;
  padding: 2px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  color:black;
  font-size: larger;
  font-style: italic;
}

.page-about > h2 {
  flex: 0 0 10%;
  text-align: right;
  padding-right: 15px;
  border-right: 4px solid var(--secondary);
  font-size: 2vw;
  line-height: 1.1;
}

.page-about > div {
  flex: 0 0 77%;
}

.page-about p {
  margin-bottom: 10px;
}

.flex-container{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.flex-html {
  border: 10px solid var(--secondary);
  background-color: var(--primary);
  color: black;
  min-height: 100px;
  max-height: 100px;
  display: flex;
  align-items: flex-end;
  padding: 0 0 15px 0;
  margin: 0.2em;
  text-decoration: none;
  background-size: 150%;
  transition: all 0.5s;
  font-size: 1.2rem;
}

.flex-css {
  border: 10px solid var(--secondary);
  background-color: var(--primary);
  color: black;
  min-height: 100px;
  max-height: 100px;
  display: flex;
  align-items: flex-end;
  padding: 0 0 15px 0;
  margin: 0.2em;
  text-decoration: none;
  background-size: 150%;
  transition: all 0.5s;
  font-size: 1.2rem;
}

.flex-javascript {
  border: 10px solid var(--secondary);
  background-color: var(--primary);
  color: black;
  min-height: 100px;
  max-height: 100px;
  display: flex;
  align-items: flex-end;
  padding: 0 0 15px 0;
  margin: 0.2em;
  text-decoration: none;
  background-size: 150%;
  transition: all 0.5s;
  font-size: 1.2rem;
}

.flex-mern {
  border: 10px solid var(--secondary);
  background-color: var(--primary);
  color: black;
  min-height: 100px;
  max-height: 100px;
  display: flex;
  align-items: flex-end;
  padding: 0 0 15px 0;
  margin: 0.2em;
  text-decoration: none;
  background-size: 150%;
  transition: all 0.5s;
  font-size: 1.2rem;
}

.flex-html:first-child {
    min-height: 300px;
    flex-basis: 50%;
}

.flex-html:hover {
  background-size: 100% 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.flex-html div {
  background-color: var(--secondary);
  padding: 8px 10px;
}

.flex-html h3 {
  font-size: 1.6rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: italic;
}

.flex-css:hover {
  background-size: 100% 100%;
  background-color: rgb(0, 0, 0);
}

.flex-javascript {
  background-size: 100% 100%;
  background-color: rgb(0, 0, 0);
}

.flex-mern:hover {
  background-size: 100% 100%;
  background-color: rgb(0, 0, 0);
}

.information {
  margin: 10px 0;
  padding: 2px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  color:rgb(119, 25, 25);
  font-size: larger;
  font-style: italic;
}

.information h2 {
  color: black;
  margin: 0;
  padding: 10px 10px;
  font-size: 1.3rem;
  line-height: 1.2;
  display: inline;
  font-family: Arial, Helvetica, sans-serif;
  margin: 10px 0;
}

.information address{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  font-size: 1rem;
  color: black;
}

.information > h2 {
  flex: 0 0 10%;
  text-align: right;
  padding-right: 15px;
  border-right: 4px solid var(--secondary);
  font-size: 2vw;
  line-height: 1.1;
}

.information > div {
  flex: 0 0 77%;
}

.information p {
  margin-bottom: 10px;
}

.information address a {
  color: black;
  margin: 10px 0;
  padding: 2px 0;
  font-size: 1rem;
}

.information address a:hover {
  background-size: 100% 100%;
  color: var(--secondary);
}
/* portfolio project images */
.flex-html {
  background-image: url("..//img/abstract-linii-tochki-blesk-spletnie-147056.jpeg");
}

.flex-css {
  background-image: url("../img/abstract-linii-tochki-blesk-spletnie-147056.jpeg");
}

.flex-javascript {
  background-image: url("../img/abstract-linii-tochki-blesk-spletnie-147056.jpeg");
}

.flex-mern {
  background-image: url("../img/abstract-linii-tochki-blesk-spletnie-147056.jpeg");
}


